@mixin transaction{
    font-size: 19px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 23px;
}

@mixin title{
    font-family: 'Poppins';
    font-style: normal;
    margin: 41px 0;
    font-weight: 700;
    line-height: 33px;
    font-size: 22px;
}

@mixin headBx{
    height: 65px;
        // width: 253px;
        border-radius: 17px;
        // margin-left: 16px;
        padding: 0 17px;
        display: flex;
        align-items: center;
        // gap: 16px;
        img{
            width: 38px;
            margin-right: 20px;
        }
        h2 {
          color: rgba(255, 255, 255, 0.8);
          font-size: 1.5rem;
          font-weight: 500;
        }
}